.container {
    width: 100%;
    text-align: center;
}

#p-container {
    background-color: rgb(243, 224, 217);
    padding: 30px;
}

.row {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    padding: 15px;
    color: rgb(24, 24, 24);
    background-color: burlywood;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    margin: 0 3px 0 3px;
}

.btn:hover{
    background-color: rgb(255, 220, 175);
}